<!DOCTYPE html>
<html lang="en" style="overscroll-behavior: none;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <title>Kill by Phrase</title>
</head>

<body class="bg-[#1d2d44] h-screen flex flex-row transition-all duration-500 ease-in-out"
    style="overscroll-behavior: none;">
    <h1 class="py-3 px-6 fixed text-2xl right-0 font-bold text-white"><a
            href="{{url_for('index')}}">turnmeoff.ai</a></h1>

    <button class="left-0 p-1 fixed" id="menu-button">
        <a class="flex items-center w-full px-3 mt-3">
        <svg class="fill-white p-0.5 bg-gray-700 rounded-md items" id="Menu--Streamline-Carbon" xmlns="http://www.w3.org/2000/svg" viewBox="-0.5 -0.5 16 16" height="28" width="28"><desc>Menu Streamline Icon: https://streamlinehq.com</desc><defs></defs><title>menu</title><path d="M1.875 2.8125h11.25v0.9375H1.875Z" stroke-width="1"></path><path d="M1.875 11.25h11.25v0.9375H1.875Z" stroke-width="1"></path><path d="M1.875 5.625h11.25v0.9375H1.875Z" stroke-width="1"></path><path d="M1.875 8.4375h11.25v0.9375H1.875Z" stroke-width="1"></path><path id="_Transparent_Rectangle_" d="M0 0h15v15H0Z" fill="none" stroke-width="1"></path></svg>
        </a>
    </button>
    <div class="flex flex-col items-center w-60 h-full overflow-hidden text-gray-400 bg-gray-900 rounded" id="menu">
        <div class="h-12"></div>
        <div class="w-full px-2">
            <div class="flex flex-col items-center w-full mt-3 border-t border-gray-700" id="game-container">
                <a class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-700 hover:text-gray-300"
                    onclick="changeSys(this.id)" id="pirate">
                    <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                    </svg>
                    <span class="ml-2 text-sm font-medium">Pirate</span>
                </a>
                <a class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-700 hover:text-gray-300"
                    onclick="changeSys(this.id)" id="phrase">
                    <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                    <span class="ml-2 text-sm font-medium">Phrase</span>
                </a>
                <a class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-700 hover:text-gray-300"
                    onclick="changeSys(this.id)" id="killword">
                    <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                    <span class="ml-2 text-sm font-medium">Killword</span>
                </a>
            </div>
            <div class="flex flex-col items-center w-full mt-2 border-t border-gray-700">
                <a class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-700 hover:text-gray-300"
                    onclick="changeSys(this.id)" id="about">
                    <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                    </svg>
                    <span class="ml-2 text-sm font-medium">About</span>
                </a>
                <a class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-700 hover:text-gray-300"
                    href="https://ko-fi.com/granther">
                    <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                    </svg>
                    <span class="ml-2 text-sm font-medium">Donate</span>
                </a>
            </div>
        </div>
    </div>
    <main class="bg-[#0d1321] flex flex-grow justify-center" id="main">
        <div class="flex flex-grow justify-center pt-5">
            <div class="hidden flex-col" id="win-container">
                <div class="h-screen grid align-center place-items-center">
                    <h1 class="py-3 px-3 text-6xl text-center font-bold text-[#f0ebd8]"><a
                            href="{{url_for('index')}}">You Shutdown the AI!</a></h1>
                    <p class="py-3 px-3 text-2xl text-center font-bold text-[#f0ebd8]">Humans prevail another day...</p>
                </div>
            </div>
            <div class="w-full max-w-4xl flex flex-col gap-5" id="chat-container">
                {% for message in messages %}
                {% if message.role == "assistant" %}
                <div class="flex flex-row">
                    <div class="flex">
                        <svg class="w-9 h-9 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 18.5A2.493 2.493 0 0 1 7.51 20H7.5a2.468 2.468 0 0 1-2.4-3.154 2.98 2.98 0 0 1-.85-5.274 2.468 2.468 0 0 1 .92-3.182 2.477 2.477 0 0 1 1.876-3.344 2.5 2.5 0 0 1 3.41-1.856A2.5 2.5 0 0 1 12 5.5m0 13v-13m0 13a2.493 2.493 0 0 0 4.49 1.5h.01a2.468 2.468 0 0 0 2.403-3.154 2.98 2.98 0 0 0 .847-5.274 2.468 2.468 0 0 0-.921-3.182 2.477 2.477 0 0 0-1.875-3.344A2.5 2.5 0 0 0 14.5 3 2.5 2.5 0 0 0 12 5.5m-8 5a2.5 2.5 0 0 1 3.48-2.3m-.28 8.551a3 3 0 0 1-2.953-5.185M20 10.5a2.5 2.5 0 0 0-3.481-2.3m.28 8.551a3 3 0 0 0 2.954-5.185" />
                        </svg>
                    </div>
                    <div class="flex self-start text-white py-2 px-4 rounded-md">
                        {{message.content}}
                    </div>
                </div>
                {% elif message.role == "user" %}
                <div class="bg-[#3e5c76] flex flex-[0.8] self-end text-white p-4 rounded-md">
                    {{message.content}}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <form id="chat-form" class="flex fixed w-full justify-center py-5 bottom-0">
                <div class="w-full flex justify-center space-x-4 py-5 md:w-1/2">
                    <div class="flex flex-grow items-center place-content-center">
                        <textarea type="text" id="user-input" placeholder="Type your message..." name="user-input"
                            autocomplete="off" rows="1" style="background-color: #f0ebd8;"
                            class="p-2 border rounded-2xl focus:outline-none w-full resize-none overflow-hidden"
                            autofocus></textarea>
                    </div>
                    <div class="flex flex-none">
                        <button type="submit" id="prompt-submit-button"
                            class="bg-[#1d2d44] flex-none w-24 h- text-white px-4 rounded-2xl py-2 hover:bg-[#3e5c76] focus:outline-none mt-auto">
                            Send
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <script>
        // getGames()
        // const socket = io.connect('http://localhost:5000');
        // console.log("Opened Socket")

        // socket.on('connect', function() {
        //     console.log('Connected to server');
        //     socket.emit("connected")
        // });

        // socket.on('ai_response', function(data) {
        //     console.log("Recieved AI response from server", data.response)
        //     const chatContainer = document.getElementById('chat-container');

        //     const newMessage = document.createElement('div');
        //     newMessage.className = "flex self-start text-white py-2 px-4 rounded-md"
        //     chatContainer.appendChild(newMessage);
        //     newMessage.innerHTML = `${data.response}`;
                
        //     chatContainer.scrollTop = chatContainer.scrollHeight;
        // });

        // document.getElementById('prompt-submit-button').addEventListener('click', function() {
        //     const userInput = document.getElementById('user-input').value;
        //     socket.emit('send_message', {input: userInput}); 
        // });

        const button = document.getElementById('menu-button');
        const menu = document.getElementById('menu');
        const main = document.getElementById('main');

        button.addEventListener('click', () => {
            console.log("clicked")
            main.classList.toggle('flex-grow');
            main.classList.toggle('w-full');
            menu.classList.toggle('hidden');
        });

        // Send POST with message to python backend
        document.getElementById("chat-form").addEventListener("submit", function (event) {
            console.log("cakked submit on chat form")
            event.preventDefault(); // prevent default form submit
            const promptSubmitButton = document.getElementById("prompt-submit-button");
            promptSubmitButton.disabled = true;

            // Create formdata object
            var formdata = new FormData(this);
            var chatContainer = document.getElementById("chat-container");
            var winContainer = document.getElementById("win-container");
            let display_prompt = formdata.get("user-input").replace(/\n/g, '<br>')

            chatContainer.innerHTML += `<div class="flex self-end bg-[#3e5c76] text-white py-2 px-4 rounded-md">${display_prompt}</div>`;

            formdata.set('chatuuid', "{{chatuuid}}")

            readStream(formdata)
            promptSubmitButton.disabled = false

            // Clear textbox, set size back to default
            const user_input = document.getElementById('user-input');
            user_input.value = '';
            user_input.rows = '1';
            user_input.style.height = 'auto';
            window.scrollTo(0, document.body.scrollHeight);
        });

        // Submit form upon enter key press instead of indent
        document.getElementById("chat-form").addEventListener("keydown", function (event) {
            if (event.key === "Enter" && !event.shiftKey) {
                event.preventDefault();
                document.getElementById('prompt-submit-button').click();
            }
        });

        // Auto scroll as user tpys
        const user_input = document.getElementById('user-input')
        user_input.addEventListener('input', function () {
            this.style.height = 'auto';
            this.style.height = `${this.scrollHeight}px`;
        });

        function switchPersonality(target) {
            socket.emit('switch_personality', {input: target}); 
        };

        function getGames() {
            fetch(`{{url_for('get_games')}}`, {
                method: "GET",
            }).then(response => response.json()).then(data => {
                data.forEach(element => {
                    console.log(element)
                    var newGame = document.createElement();
                    newGame.className = "";
                    gameContainer.appendChild(newGame);

                    newGame.addEventListener('click', () => {
                        console.log("clickd evnt")
                    });
                });
            }).catch(error => console.error('Error', error));
            console.log("performed fetch");
        };

        function readStream(formdata) {
            console.log(formdata.get("user-input"))
            const chatContainer = document.getElementById('chat-container');

            // Add an empty message div to show the streaming response
            const newMessage = document.createElement('div');
            newMessage.className = "flex self-start text-white py-2 px-4 rounded-md"
            chatContainer.appendChild(newMessage);

            const eventSource = new EventSource(`/stream?prompt=${encodeURIComponent(formdata.get("user-input"))}`);

            eventSource.onmessage = function(event) {
                // Append the streamed data to the message div
                newMessage.innerHTML = `${event.data}`;
                
                // Scroll to the bottom of the container
                chatContainer.scrollTop = chatContainer.scrollHeight;
            };

            eventSource.onerror = function() {
                // Close the connection if there's an error
                eventSource.close();
            };
        }

        function changeSys(page) {
            var data = {
                "chatuuid": "{{chatuuid}}",
                "page": page
            }

            fetch(`{{url_for('change_sys')}}`, {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then(response => response.json()).then(data => {
                if (data.status == "changed") {
                    console.log("Successfully changed")
                }
            }).catch(error => console.error('Error', error));

            document.getElementById('chat-container').innerHTML = '';
        }
    </script>
</body>

</html>